.icon-nva{
	width: 70px;
	height: 400px;
	position: fixed;
	z-index: 99;
	bottom: 70px;
	right: 0;
	border-top: 1px solid #707070;
}
.icon-nva>img:hover{
	opacity: 1;
}
.icon-nva .icon-nva-cnt{
	width: 70px;
	height: 100px;
	opacity: 0.8;
	text-align: center;
	background-color: white;
	border-bottom: 1px solid #707070;
	border-left: 1px solid #707070;
	line-height: 30px;
}
.icon-nva .icon-nva-cnt:hover{
	opacity: 1;
}
.icon-nva .icon-nva-cnt .ico-text{
	width: 70px;
	height: 15px;
	font-size: 15px;
	color: #707070;
	text-align: center;
}

.icon-nva .icon-nva-btm{
	width: 70px;
	height: 100px;
	opacity: 0.8;
	background-color: white;
	border-bottom: 1px solid #707070;
	border-left: 1px solid #707070;
	text-align: center;
}
.icon-nva .icon-nva-btm:hover{
	opacity: 1;
}
.icon-nva .icon-nva-btm>img{
	width: 60px;
	height: 60px;
}
.icon-nva .icon-nva-btm .ico-text{
	width: 70px;
	height: 15px;
	font-size: 15px;
	color: #707070;
	text-align: center;
}
.icon-nva .icon-nva-top{
	width: 70px;
	height: 100px;
	display: none;
	text-align: center;
	opacity: 0.8;
	background-color: white;
	border-bottom: 1px solid #707070;
	border-left: 1px solid #707070;
}
.icon-nva .icon-nva-top:hover{
	opacity: 1;
	cursor: pointer;
}
.icon-nva .icon-nva-top>img{
	width: 60px;
	height: 60px;
}
.icon-nva .icon-nva-top .ico-text{
	width: 70px;
	height: 15px;
	font-size: 15px;
	color: #707070;
	text-align: center;
}
/* 滚动导航 */
.nva-block {
	width: 100%;
	height: 50px;
	background-color: #000000;
	position: fixed;
	top: 0;
	/* display: none; */
	z-index: 99;
}

.nva-block ul li {
	float: right;
	width: 80px;
	height: 50px;
	text-align: center;
	line-height: 50px;
}

.nva-block ul li>a {
	color: white;
}

.nva-block ul .img1 {
	width: 50px;
	margin-right: 80px;
}

.nva-block ul .img2 {
	width: 50px;
}

.nva-block ul li>img {
	width: 25px;
	height: 25px;
	margin-top: 15px;
}

/* 滚动导航内下拉列表 */
.nva-block>.list1 {}

.nva-block>.list1>ul>.li11 {
	width: 70px;
	height: 50px;
	color: #fff;
	font-size: 13px;
	float: left;
	text-align: center;
}

.nva-block>.list1>ul>ol {
	width: 70px;
	height: 50px;
	color: #fff;
	line-height: 50px;
	font-size: 14px;
	float: left;
	text-align: center;
}

.nva-block>.list1>ul>li:hover {
	cursor: pointer;
}

.nva-block .tab1 {
	width: 100%;
	height: 50px;
	line-height: 36px;
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 99;
	display: none;
	text-align: center;
	background-color: #000;
	opacity: 0.8;
}
.nva-block .tab1:first-child{
	/* display: block; */
}
.nva-block .tab1>ul {
	display: inline-block;
	text-align: center;
}

.nva-block .tab1>ul>li {
	width: 100px;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	text-align: center;
}

.nva-block .tab1>ul>li:hover {
	opacity: 0.8;
}

.nva-block .tab1>ul>li:hover {
	cursor: pointer;
}
.box{
	width: 100%;
	height: auto;
}
.box .item{
	width: 304px;
	height: 349px;
	float: left;
	margin-left: 20px;
	text-align: center;
	/* background-color: pink; */
}
.box .item>img{
	width: 284px;
	height: 256px;
}
.box .item>img:hover{
	opacity: 0.6;
}
.box .item .text{
	width: 100%;
	height: 50px;
	text-align: center;
	margin-top: 20px;
}
.box .item .text .text-p1{
	font-size: 18px;
	color: #313131;
}
.box .item .text .text-p2{
	margin-top: 5px;
	font-size: 16px;
	color: #313131;
}
.box .item .text .text-p2>span{
	font-size: 14px;
}

/* 页脚 */
#footer {
	width: auto;
	height: 563px;
	background: #1b1b1b;
	margin-top: 30px;
}

#footer #fot {
	width: 1217px;
	height: 403px;
	/* background: #006EAA; */
	margin: 0 auto;
	padding-top: 90px;
}

#footer #fot #fot_top {
	width: 100%;
	height: 224px;
	/* background: #000000; */
}

/* 页脚左边 */
#footer #fot #fot_top #fot_top_left {
	width: 264px;
	height: 224px;
	/* background: #FBCFD0; */
	float: left;
	border-right: 1px solid #a0a0a0;
}

#footer #fot #fot_top #fot_top_left span {
	font-size: 16px;
	color: white;
	line-height: 30px;
}

#footer #fot #fot_top #fot_top_left #fot_top_left_icon {
	width: 264px;
	height: 68px;
	/* background: #0000FF; */
	margin-top: 40px;
}

#footer #fot #fot_top #fot_top_left #fot_top_left_icon #weixin {
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url(../img/index/010_03.png);
	background-position: -70px 0;
	border-radius: 50%;
	border: 2px solid white;
}

/* #footer #fot #fot_top #fot_top_left #fot_top_left_icon #weixin:hover {
	background: url(../img/index/010_08.png);
	background-size: contain;
} */

#footer #fot #fot_top #fot_top_left #fot_top_left_icon #weibo {
	width: 36px;
	height: 36px;
	display: inline-block;
	background: url(../img/index/010_04.png);
	background-position: -105px 0;
	border-radius: 50%;
	border: 2px solid white;
	margin-left: 5px;
}

/* #footer #fot #fot_top #fot_top_left #fot_top_left_icon #weibo:hover {
	background: url(../img/index/010_09.png);
	background-size: contain;
} */

/* 页脚中间 */
#footer #fot #fot_top #fot_top_center {
	width: 578px;
	height: 224px;
	/* background: #FFE5D4; */
	float: left;
	text-align: center;
}

#footer #fot #fot_top #fot_top_center ul {
	display: inline-block;
}

#footer #fot #fot_top #fot_top_center ul li {
	float: left;
	margin: 0 40px;
	text-align: left;
}

#footer #fot #fot_top #fot_top_center ul li a {
	display: block;
	color: #d2d2d2;
	line-height: 34px;
	font-size: 13px;
}

#footer #fot #fot_top #fot_top_center ul li a:hover {
	color: #fff;
}

#footer #fot #fot_top #fot_top_center ul li .title {
	display: inline-block;
	width: auto;
	color: #a0a0a0;
	font-size: 13px;
	border-bottom: #a0a0a0 1px solid;
	margin-bottom: 10px;
	line-height: 40px;
}

/* 页脚右边 */
#footer #fot #fot_top #fot_top_right {
	width: 373px;
	height: 224px;
	/* background: #C8EFD4; */
	float: right;
	text-align: left;
	border-left: 1px solid #a0a0a0;
}

#footer #fot #fot_top #fot_top_right #contact-us {
	float: right;
	text-align: left;
}

#footer #fot #fot_top #fot_top_right #contact-us #p1 {
	color: #a0a0a0;
	line-height: 30px;
	padding-top: 5px;
	font-size: 13px;
}

#footer #fot #fot_top #fot_top_right #contact-us #p2 {
	color: #fff;
	line-height: 32px;
	font-size: 22px;
	font-weight: 400;
}

#footer #fot #fot_top #fot_top_right #contact-us #p2 span {
	color: #fff;
	line-height: 32px;
	font-size: 14px;
	font-weight: 400;
	margin-left: 20px;
	display: inline-block;
	vertical-align: top;
}

#footer #fot #fot_top #fot_top_right #contact-us #kefu {
	width: 80px;
	height: 28px;
	border: 1px solid #fff;
	border-radius: 14px;
	text-align: center;
	font-size: 13px;
	line-height: 26px;
	margin: 10px 0 15px;
	cursor: pointer;
}

#footer #fot #fot_top #fot_top_right #contact-us #kefu a {
	color: #fff;
}

#footer #fot #fot_top #fot_top_right #contact-us #kefu:hover {
	background: #fff;
}

#footer #fot #fot_top #fot_top_right #contact-us #kefu:hover a {
	color: #000;
}

#footer #fot #fot_top #fot_top_right #contact-us #shop-entry a {
	display: block;
	color: #000;
	background: #fff;
	font-size: 13px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	margin-top: 40px;
}

#footer #fot #fot_top #fot_top_right #contact-us #shop-entry:hover a {
	background: #000;
	border: 1px solid #fff;
	color: #fff;
}

/* 页脚下面 */
#footer #fot #fot_bottom {
	width: 100%;
	height: 144px;
	/* background: #F5F5DC; */
	border-top: 1px solid #a0a0a0;
	margin-top: 40px;
	padding-top: 40px;
	text-align: center;
	color: #a0a0a0;
	font-size: 13px;
	line-height: 26px;
}
